* {
    padding: 0;
    margin: 0;
    font-family: 'Sorts Mill Goudy', serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(231, 233, 235);
    color: black;
    
} 

header {
    display: flex
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
    background: transparent;
    padding: 30px 20%;
    border-bottom: 1px solid transparent; 



}
